.page1 {

  &-wrapper {
    padding: 120px 0;
    max-width: 852px;
    height: 100%;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      border: 2px solid $white;
      border-radius: 10px;
    }
  }

  @include responsive('md') {
    &-wrapper {
      padding: 200px 0;
    }
  }
}
