.records {

  &-wrapper {
    padding: 90px 0;

    i {
      display: block;
      text-align: center;
      font-size: 24px;
      color: $white;
      margin: 30px 0;
    }

    p {
      font-size: 14px;
      color: $light-blur;
      line-height: 35px;
      text-align: center;
      margin-top: 30px;
    }
  }

  &-image {
    max-width: 700px;
    border: 2px solid $white;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @include responsive('md') {
    &-wrapper {
      padding: 120px 0;

      i {
        font-size: 30px;
      }

      p {
        font-size: 16px;
        margin-top: 40px;
      }
    }
  }
  
  @include responsive('lg') {
    &-image {
      margin: 0 auto;
    }
  }
}
