.banner {
  height: 50vh;
  background-color: $primary-blue;

  &-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }

  &-box {

    h1 {
      font-size: 28px;
      font-weight: 600;
      color: $light;
    }
  
    p {
      font-size: 14px;
      color: $light;
    }
  }

  &-logo {
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px $dark;
    transform: translateY(40px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
