.description {
  h3 {
    font-weight: 600;
    color: $text;
  }

  &-contents {
    h4 {
      font-size: 20px;
      color: $text;
    }
    
    p {
      font-size: 14px;
      line-height: 30px;
      color: $text;
    }
  }
}
