* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  cursor: url('./src/assets/svg/custom_cursor_default.svg'), auto;
}

body {
  font-family: $font-ko;
  background-color: $white;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $light;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 5px;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

li, ol, ul {
	list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
  cursor: url('./src/assets/svg/custom_cursor_pointer.svg'), auto;

  &:hover {
    color: $white; // NOTE: bootstrap css style reset!
    cursor: url('./src/assets/svg/custom_cursor_pointer.svg'), auto;
  }
}

button:not(:disabled), 
[type="button"]:not(:disabled), 
[type="reset"]:not(:disabled), 
[type="submit"]:not(:disabled) {
  cursor: url('./src/assets/svg/custom_cursor_pointer.svg'), atuo;

  &:hover {
    cursor: url('./src/assets/svg/custom_cursor_pointer.svg'), auto;
  }
}
